body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header, nav, footer {
    background-color: #21313C;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

main {
    padding: 2em;
}